# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Environment variables
.env

# VS Code settings
.vscode/

# Coverage reports
htmlcov/
coverage.xml
*.cover
*.py,cover

# Logs
*.log

app/static/
/static/